<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.ecoquiz">

    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:allowBackup="true"
        android:icon="@drawable/ic_baseline_eco_24"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".normal.Normal4"></activity>
        <activity android:name=".normal.Normal3" />
        <activity
            android:name=".normal.Normal2"
            android:screenOrientation="portrait" />
        <activity
            android:name=".normal.Normal1"
            android:screenOrientation="portrait" />
        <activity
            android:name=".normal.Normal0"
            android:screenOrientation="portrait" />
        <activity
            android:name=".ranking.RankingNovato"
            android:screenOrientation="portrait" />
        <activity
            android:name=".novato.Novato9"
            android:screenOrientation="portrait" />
        <activity
            android:name=".novato.Novato8"
            android:screenOrientation="portrait" />
        <activity
            android:name=".novato.Novato7"
            android:screenOrientation="portrait" />
        <activity
            android:name=".novato.Novato6"
            android:screenOrientation="portrait" />
        <activity
            android:name=".novato.Novato5"
            android:screenOrientation="portrait" />
        <activity
            android:name=".novato.Novato4"
            android:screenOrientation="portrait" />
        <activity
            android:name=".novato.Novato3"
            android:screenOrientation="portrait" />
        <activity
            android:name=".novato.Novato2"
            android:screenOrientation="portrait" />
        <activity
            android:name=".novato.Novato1"
            android:screenOrientation="portrait" />
        <activity
            android:name=".novato.Novato0"
            android:screenOrientation="portrait" />
        <activity
            android:name=".ranking.SelecionarDificuldadeRanking"
            android:screenOrientation="portrait" />
        <activity
            android:name=".SelecionarDificuldade"
            android:screenOrientation="portrait" />
        <activity
            android:name=".MainActivity"
            android:screenOrientation="portrait">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <meta-data
            android:name="com.google.android.gms.ads.APPLICATION_ID"
            android:value="ca-app-pub-3940256099942544~3347511713" />
    </application>

</manifest>